header{ 
  background-color: white; 
  background-image: url("../images/logo2.jpg");
  background-repeat: no-repeat;
  background-position: left;
  height: 150px;
}

header p{
  text-align: right;  
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 250px;
  overflow: hidden;
  background-color: lightblue;
  border-radius: 5px;
}

nav li{
  float: left;
}

nav li a{
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover{
  background-color: white;
}

nav li a:active{
  background-color: red;
}

footer{
  font-style: italic;
  text-align: center;
}

main{
  width: 96%;
  margin: auto;
  background-color: #688b9a;
  font-size: 1vw;
  padding: 5px;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
}

.option-header{
  display: block;
  color: black;
  text-align: left;
}

.active{
  background-color: lightgreen;
}

table{ 
  width: 90%;
  background-color: black;
  font-size: 1vw;
}

th, td{
  width: 20vw;
  border: black solid 1px;
  font-size: 1vw;
}

tr:nth-of-type(even) { background-color: #ffcc33; }
tr:nth-of-type(odd) { background-color: #fcf1d1; }


#trash, #keep{
  list-style-type: none;
  width: 95%;
  height: 500px;
}

#results{
  list-style-type: none;
  padding: 10px;
}

.wrapper{
  width: 100%;
  position: relative;
  z-index: -1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.left{
  float: left;
  width: 30vw;
  height: 1000px;
  margin: auto;
  background-color: #ff5f5c;
  position: relative;
}

.center{
  float: left;
  width: 35%;
  height: 1000px;
  position: relative;
  padding: 20px;
}

.centerText{
  position: absolute;
  top: 300px;
  bottom: 400px;
  font-size: 1.75vw;
}

.right{
  float: left;
  width: 30vw;
  height: 1000px;
  margin: auto;
  background-color: lightgreen;
  position: relative;
}

.topChoices, .ourPick{
  float: left;
  width: 47%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 100px;
}

.overlay{
  width: 100%;
  background-color: lightgreen;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  height: 500px;
  opacity: 90%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlayText{
  color: black;
  font-size: 2vw;
  font-style: italic;
}

#submitButton, #resultsButton{
  width: 21vw;
  height: 7vw;
  font-size: 3vw;
}

.motto {
  font-size: 1vw;
  height:auto;
  float: right;
  right: 5vw;
  overflow: hidden;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
}

.labels{
  text-align: center;
}

.buttonResults{
  margin: auto;
  text-align: center;
  padding: 5px;
}