header { 
  background-color: white; 
  background-image: url(logo2.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 150px;
}

header p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 1500px;
  overflow: hidden;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 250px;
  overflow: hidden;
  background-color: lightblue;
  border-radius: 5px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: white;
}
nav li a:active{
  background-color: red;
}

main {
  margin: auto;
  background-color: #688b9a;
}

footer {
  font-style: italic;
  text-align: center;
}

.option-header {
  display: block;
  color: black;
  text-align: left;
}

.active{
  background-color: lightgreen;
}

table{ 
    width: 100%;
    background-color: black;
}
th, td{
    width: 25%;
    border: black solid 1px;
}

tr:nth-of-type(even) { background-color: #ffcc33; }
tr:nth-of-type(odd) { background-color: #fcf1d1; }

#results{

    border: 1px solid #eee;
    width: 49%;
    min-height: 630px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    float: left;
}

 #trash {

    border: 1px solid #eee;
    width: 49%;
    min-height: 630px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    float: left;
  }

#results li {
    
    margin: 0;
    padding: 10px;
    font-size: 1.0em;
    width: 92%;
    background-color: lightblue;
}

#trash li {

    margin: 0;
    padding: 10px;
    font-size: 1.0em;
    width: 92%;
    background-color: lightblue;
}