header { 
  background-color: white; 
  background-image: url(logo2.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 150px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 250px;
  overflow: hidden;
  background-color: lightblue;
  border-radius: 5px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: white;
}
nav li a:active{
  background-color: red;
}

body{
	background-color: white;
}

main { 
  padding-top: 1em;
  padding-left: 5em;
  padding-bottom: 1em;
  display: block; 
  color:black;
  background-color: #688b9a; 
  border-radius: 5px;
}

footer {
  font-style: italic;
  text-align: right;
}

.option-header {
  display: block;
  color: darkblue;
  text-align: left;
}

.active{
  background-color: lightgreen;
}

.form-style-1 {
  width: 326px;
  background-color: white;
  display: block; 
  color:black;
  border-color: black;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 1px inset;
  border-radius: 5px;
}

.form-style-2 {
  width: 150px;
  background-color: white;
  display: block; 
  color:black;
  border-color: black;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 1px inset;
  border-radius: 5px;
}
