header { 
  background-color: white; 
  background-image: url(logo2.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 150px;
}

header p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 1500px;
  overflow: hidden;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 250px;
  overflow: hidden;
  background-color: lightblue;
  border-radius: 5px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: white;
}
nav li a:active{
  background-color: red;
}

main {
  width: 98%;
  margin: auto;
  background-color: #688b9a;
}

footer {
  font-style: italic;
  text-align: center;
}

.option-header {
  display: block;
  color: darkblue;
  text-align: left;
}

.active{
  background-color: lightgreen;
}

.form-style-1 {
  width: 228px;
  background-color: white;
  display: block;
  color: black;
  border-color: black;
  border: 1px solid;
  padding: 6px;
  box-shadow: 1px 1px inset;
  border-radius: 5px;
}

.mainDiv {
  width: 95%;
}

.searchDiv{
  width: 15%;
  color: black;
  margin: auto;
  float: left;
  padding: 40px;
  overflow: hidden;
}

.resultsDiv {
  width: 72%;
  padding-left: 0px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  float: right;
}


table, th, td {
  padding: 0.5em;
  border-width: 1px;

  border-style: solid;
  border-color: #5b7444;
}

tr:nth-of-type(even) { background-color: #ffcc33; }
tr:nth-of-type(odd) { background-color: #fcf1d1; }
